@using DemoApplication.Areas.Client.ViewModels.Account
@model AddressListViewModel


<div class="col-lg-9 col-12 mt--30 mt-lg--0">
	<div class="myaccount-content">
		<h3>@Model.Address</h3>
		<address>
			<p><strong>@Model.User</strong></p>
			<p>
				 @Model.Address
			</p>
			<p>@Model.PhoneNumber</p>
		</address>
		<a asp-route="client-account-address-edit">
			Edit Address
		</a>
	</div>
</div>