@using DemoApplication.Areas.Client.ViewModels.Account

@model PasswordUpdateViewModel

<form method="POST" asp-route="client-auth-details-password">
	<div class="row">

		<div class="col-12  mb--30">
			<h4>Password change</h4>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="lastPassword" id="current-pwd" placeholder="Current Password">
			<span asp-validation-for="lastPassword" class="text-danger"></span>

		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="Password" id="new-pwd" placeholder="New Password">
			<span asp-validation-for="Password" class="text-danger"></span>

		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="ConfirmPassword" id="confirm-pwd" placeholder="Confirm Password">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		</div>
		<div class="col-12">
			<button type="submit" class="btn btn--primary">Save Changes</button>
		</div>
	</div>
</form>